{% extends "layout.html" %}
{% import "macros.html" as macro %}

{% block title %}LEGO Sets | BrickDrops{% endblock %}

{% block meta_description %}
Track LEGO prices, deals, and listings across marketplaces.
{% endblock %}

{% block content %}

            {{ macro.hero() }}

            {{ macro.specials(active_listings, top_theme, top_theme_id, best_deals_count) }}

            

            <div class="d-none d-md-block">
                {{ macro.listing_table(sets, currency) }}
            </div>

            <div class="d-block d-md-none">
                {{ cards.cards(sets, currency) }}
            </div>
            
            
            {{ helpers.render_pagination(listings)}}

{% endblock %}